body {
  font: $base-font;
  color: $font-color;
}

a {
  color: $brand-color;
  -webkit-transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}

table {
  margin: 0 0 1em;
}

h1 {
  font-size: 2em;
  line-height: 1.25em;
}

h2 {
  font-size: 1.5em;
  line-height: 1.35em;
}

h3 {
  font-size: 1.3em;
  line-height: 1.4em;
}

h4 {
  font-size: 1em;
}

h5 {
  font-size: 0.875em; }