body {
  font: $base-text;
  color: $font-color;
}

a {
  color: $link-color;
  -webkit-transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;

  &:hover {
    color: $link-hover-color;
  }
}

table {
  margin: 0 0 1rem;
}

h1, .hero-heading {
  font-size: 2rem;
  line-height: 1.25;
}

h2, .x-large-heading {
  font-size: 1.5rem;
  line-height: 1.35;
}

h3, .large-heading {
  font-size: 1.3rem;
  line-height: 1.4;
}

h4, .medium-heading {
  font-size: 1rem;
}

h5, .small-heading {
  font-size: 0.875rem;
}

.medium-text {
  font-size: $medium-text;
}

.small-text {
  font-size: $small-text;
}