//Colors

$black-color: #131313;
$white-color: #fff;
$dark-gray-color: #737378;
$medium-gray-color: #ddd;
$light-gray-color: #f8f8f8;

$blue-color: #00205B;
$dark-blue-color: #00163d;
$light-blue-color: #0095c8;
$red-color: #C8102E;
$green-color: #78be20;

//Colors in action
$brand-color: $blue-color;
$border-color: $medium-gray-color;
$link-color: $blue-color;
$link-hover-color: $red-color;
$font-color: $black-color;
$font-gray-color: $dark-gray-color;
$error-color: $red-color;
$success-color: $green-color;

//Breakpoints
$tablet-start:         721px!default;
$desktop-start:        1024px!default;
$desktop-wide-start:   1180px!default;

//Grid
$gutter: 30px;
$tablet-gutter: 30px;

//Fonts
$ff-gotham: "Gotham", "Arial", sans-serif;
$base-text: 300 16px/1.5 $ff-gotham;
$medium-text: 0.875rem;
$small-text: 0.75rem;