.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 0.75rem;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  font-weight: 500;
  text-decoration: none;

  &--default {
    color: $white-color;
    background-color: $brand-color;

    &:hover {
      color: $white-color;
      background-color: $dark-blue-color;
    }

    &.disabled,
    &[disabled] {
      background: $light-gray-color;
      color: $medium-gray-color;
    }
  }

  // btn--primary, --success, --info, --warning, --danger, --link
  // btn--large, --small, --x-small
  // btn--block
  // disabled state
}